.state-daftar-bg{
  background: linear-gradient(
    to top,
    #ece9e6,
    #ffffff
  ); 
}
.radio {
  width: 15em;
  outline: none;
  color: #f4224b;
  border-radius: 10px;
  margin-left: -1em;
  padding: 0.75em;
  background-color: white;
  border: solid 2px #f4224b;
  transition-duration: 0.2s;
  box-shadow: 0 0.5vh #b5b5b5;
  font-family: 'canaro-bold';
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.radio:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .radio{
    width: 15em;
    font-size: small;
  }
}

.state-radio input[type='radio'] {
  opacity: 0;
}

.state-radio input[type='radio']:checked + .radio {
  background-color: #f4224b;
  color: white;
}

.state-radio  input[type='radio']:disabled + .radio{
  background-color: #d99aa6;
  color: grey;
  border: solid 2px #d99aa6;
}
