#shortener-container {
  background-image: url('../../assets/bg-web-flat.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
