#homedetail-nama {
  text-transform: uppercase;
  color: #1f2c4c;
  font-family: canaro-bold;
}

.homedetail-iframe {
  border-radius: 20px;
  margin: 2em 0 1em 0;
  width: 100%;
  height: 56.25vh;
  border: 5px solid #f2d008;
}

@media (max-width: 1024px) {
  .homedetail-iframe {
    width: 100%;
    height: 30vh;
  }
}
