h1{
    text-transform: uppercase;
    color: #1F2C4C;
    font-family: canaro-bold;
}

iframe{
    border-radius: 20px;
    margin: 2em 0 1em 0;
    width: 100%;
    height: 56.25vh;
    border: 5px solid #F2D008;
}

@media (max-width: 1024px){
    iframe{
        width: 100%;
        height: 30vh;
    }
}
