.mxm-foo{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 20px #242323;
    box-sizing: border-box;
    width: 100%;
    background: #70e0d0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF,#FFFFFF,#FFFFFF, #70e0d0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF,#FFFFFF,#FFFFFF, #70e0d0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-shape-divider-top-1597567856 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1597567856 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1597567856 .shape-fill {
    fill: #F2D008;
}

.custom-shape-divider-top-1597567856 .shape-fill1{
    fill: #F2D008;
}

.custom-shape-divider-top-1597567856 .shape-fill2{
    fill: #f7e368;
}

.custom-shape-divider-top-1597567856 .shape-fill3{
    display: none;
}

.mxm-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #1F2C4C;
}

.mxm-footer-content{
    width: 33%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mxm-footer img{
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}

.mxm-footer-divider{
    opacity: 0;
    margin: 0;
    padding: 0;
}

.mxm-footer-copyright h6{
    padding: 0;
    margin: 2px 0 0 5px;
}

.mxm-foo-subcontent-divider{
    margin: 0 7px 0 7px;
}

@media (max-width: 768px){
    .mxm-foo{
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .custom-shape-divider-top-1597567856 svg{
        height: 110px;
    }

    .custom-shape-divider-top-1597567856 .shape-fill3{
        display: block;
        height: 50px;
        fill: #F2D008;
    }

    .custom-shape-divider-top-1597567856 .shape-fill, .custom-shape-divider-top-1597567856 .shape-fill1, .custom-shape-divider-top-1597567856 .shape-fill2{
        display: none;
    }

    .mxm-footer{
        flex-direction: column-reverse;
    }

    .mxm-footer-copyright{
        justify-content: center;
        align-items: center;
    }

    .mxm-footer-divider{
        display: none;
    }

    #footer1{
        padding-bottom: 1em;
    }

    #footer2{
        padding-bottom: 1em;
    }
}